In [189]:
import pandas as pd

In [2]:
buildings = pd.read_csv("/Users/penelopelafeuille/Desktop/Business Analytics/Projects/nyc_pluto_20v6_csv/pluto_20v6.csv")

/Users/penelopelafeuille/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,24) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [190]:
buildings_n = buildings.filter(items = ['address',"bldgclass","landuse","bldgarea","numfloors","unitsres","unitstotal","bldgfront","bldgdepth","lottype","assesstot","yearbuilt","yearalter1","yearalter2","firm07_flag","lot",'block','ct2010'])

In [191]:
buildings_n['firm07_flag'] = buildings_n['firm07_flag'].fillna(0)

In [121]:
jobs = pd.read_csv("/Users/penelopelafeuille/Desktop/Business Analytics/Projects/Jobs_dataset_cleaned_1.0.csv")

/Users/penelopelafeuille/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [199]:
jobs

,Unnamed: 0,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,...,TOTAL_CONSTRUCTION_FLOOR_AREA,WITHDRAWAL_FLAG,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN,Special District
0,0,110083524,2,MANHATTAN,152,WEST 57 STREET,1009,5,1084455,A2,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,0
1,1,110083533,1,MANHATTAN,444,EAST 52 STREET,1363,27,1040141,A2,...,0,0,0,40.75469,-73.96424,4.0,8603.0,Turtle Bay-East Midtown,1040141.0,0
2,5,102611247,1,MANHATTAN,455,MADISON AVENUE,1286,21,1035462,A2,...,0,0,0,40.75811,-73.97539,4.0,102.0,Midtown-Midtown South,1035462.0,0
3,6,102611283,1,MANHATTAN,255,WEST 36 STREET,786,13,1014438,A2,...,0,0,0,40.75293,-73.99120,3.0,109.0,Midtown-Midtown South,1014438.0,0
4,7,103027680,1,MANHATTAN,31,WEST 19 STREET,821,21,1015468,A2,...,0,0,0,40.73959,-73.99254,3.0,54.0,Hudson Yards-Chelsea-Flatiron-Union Square,1015468.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648166,1756226,103790747,1,MANHATTAN,161,6 AVENUE,505,31,1007822,A2,...,0,0,0,40.72568,-74.00398,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1007822.0,0
1648167,1756227,104571161,1,MANHATTAN,413,WEST 22 STREET,720,41,1012695,A2,...,0,0,0,40.74603,-74.00228,3.0,93.0,Hudson Yards-Chelsea-Flatiron-Union Square,1012695.0,0
1648168,1756228,104819706,1,MANHATTAN,161,AVENUE OF THE AMERICAS,505,31,1007822,A2,...,0,0,0,40.72568,-74.00398,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1007822.0,0
1648169,1756229,110023787,1,MANHATTAN,95,MADISON AVENUE,858,58,1016920,A2,...,0,0,0,40.74453,-73.98530,2.0,74.0,Midtown-Midtown South,1016920.0,0
1648170,1756230,200874562,1,BRONX,1550,ROBERTSON PLACE,5412,22,2115190,NB,...,2250,0,0,40.84530,-73.82312,13.0,27401.0,Pelham Bay-Country Club-City Island,2115190.0,0

In [192]:
test = pd.merge(buildings_n, jobs,how="right", left_on = ['ct2010','lot','block'],right_on=['GIS_CENSUS_TRACT','Lot','Block'])

In [193]:
test = test.dropna()
test

,address,bldgclass,landuse,bldgarea,numfloors,unitsres,unitstotal,bldgfront,bldgdepth,lottype,...,TOTAL_CONSTRUCTION_FLOOR_AREA,WITHDRAWAL_FLAG,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN,Special District
0,152 WEST 57 STREET,O4,5.0,542584.0,61.0,0.0,103.0,50.00,201.00,4.0,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,0
1,152 WEST 57 STREET,O4,5.0,542584.0,61.0,0.0,103.0,50.00,201.00,4.0,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,1
2,152 WEST 57 STREET,O4,5.0,542584.0,61.0,0.0,103.0,50.00,201.00,4.0,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,0
3,152 WEST 57 STREET,O4,5.0,542584.0,61.0,0.0,103.0,50.00,201.00,4.0,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,0
4,152 WEST 57 STREET,O4,5.0,542584.0,61.0,0.0,103.0,50.00,201.00,4.0,...,0,0,0,40.76519,-73.97928,4.0,137.0,Midtown-Midtown South,1084455.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655821,58 GARRETSON LANE,A5,1.0,1488.0,2.0,1.0,1.0,17.00,44.00,5.0,...,0,0,0,40.60315,-74.08534,50.0,50.0,Grasmere-Arrochar-Ft. Wadsworth,5149804.0,1
1655822,138 8 STREET,B3,1.0,1440.0,2.0,2.0,2.0,18.00,40.00,5.0,...,2484,0,0,40.67244,-73.99132,39.0,121.0,Park Slope-Gowanus,3022014.0,1
1655823,300 FLATBUSH AVENUE,K2,5.0,6580.0,2.0,0.0,2.0,25.00,113.58,5.0,...,0,0,0,40.67813,-73.97316,39.0,161.0,Prospect Heights,3018946.0,0
1655825,117-20 201 STREET,A2,1.0,1050.0,1.5,1.0,1.0,24.67,35.33,5.0,...,0,0,0,40.69430,-73.75157,27.0,376.0,St. Albans,4271954.0,0
1655826,857 TARGEE STREET,A1,1.0,1188.0,2.5,1.0,1.0,22.00,27.00,5.0,...,0,0,0,40.60718,-74.08995,50.0,50.0,Grasmere-Arrochar-Ft. Wadsworth,5046176.0,0

In [200]:
test = test.loc[:, test.columns != 'Unnamed: 0']

In [205]:
test.to_csv('jobs_buildings_clean_v1.0.csv', index='False')